{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ image_repo.name }} | WoP </title>
</head>
<body>

<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" name="submit" value="save" class="btn btn-primary">{% bootstrap_icon "floppy-save" %}Save</button>
    {% endbuttons %}
</form>
<form action="{% url 'image_repo_scan' image_repo_id=image_repo.id %}" method="post">
    {% csrf_token %}
{#    {% bootstrap_form form %}#}
    {% buttons %}
        <button type="submit" name="submit" value="scan" class="btn btn-default">{% bootstrap_icon "folder-open" %}Scan</button>
    {% endbuttons %}
</form>

<h1>content</h1>
<div>
{% for i in image_repo.image_set.all %}
    <a href="{% url 'image' i.id %}"><img src="{% url 'img' i.key %}"  width="100"></a>
{% endfor %}
</div>

</body>
</html>