{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ image_repo.name }} scan results | WoP </title>
</head>
<body>


<h1> {{ image_repo.name }} scan results </h1><br>
<table><tr><th>Path</th><td>{{ image_repo.path }}</td></tr></table>


<h2> New images found:</h2>
<table>
    <thead><tr><th>filename</th><th>image</th></tr></thead>
    <tbody>
        {% for image in new_images %}
        <tr>
            <td>{{ image.filename }}</td>
            <td>
                <a href="{% url 'image' image.id %}">
                    <img src="{% url 'img' image.key %}" width="100px">
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>