<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ image.filename }}</title>
</head>
<body>
<h1>Properties</h1>
<table>
    <tr>
        <th>path</th>
        <td>{{ image.path }}</td>
    </tr>
    <tr><th>Repo</th><td>{{ image.repo.name }}</td></tr>
    <tr><th>ratio</th><td>{{ image.ratio }}</td></tr>
    <tr><th>size</th><td>{{ image.width }} : {{ image.height }}</td></tr>
    <tr><th>b&w</th><td>{{ image.b_w }}</td></tr>
</table>
<br>
<h1>Image</h1>
<a href="{% url 'img' image.key %}">
    <img src="{% url 'img' image.key %} " width="25%">
</a>
</body>
</html>